<div *ngIf="isDesktop">
  <img src="./assets/img/background.png" style="position: absolute; height: 100%; width: 100%; z-index: -5" alt="">
  <img src="./assets/img/Vector89.png" style="position: absolute; height: 100%; width: 100%;  z-index: -5" alt="">
  <span fxLayout="row">
    <mat-toolbar fxLayout="row" fxLayoutAlign="space-between center"
                 style="z-index: 50; padding: 45px; background: rgba(0,0,0,0)">
    <div fxFlex="40" fxLayout="row" fxLayoutAlign="space-between center">
      <img src="./assets/img/logo.png" alt="">
      <div fxFlex="75" fxLayout="row" fxLayoutAlign="space-around center">
        <a href="#home" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
           class="lightNav">Главная</a>
        <a href="#courses" routerLinkActive="active" class="lightNav">Курсы</a>
        <a href="#video" routerLinkActive="active" class="lightNav">Акции</a>
        <a href="#contacts" routerLinkActive="active" class="lightNav">Как связаться?</a>
      </div>
    </div>
    <div fxFlex="10" fxLayout="row" fxLayoutAlign="space-between center" style="align-content: center">
      <p class="lightNav" style="color: white; margin: 0;">+7(707) 326 48 18</p>
      <!--      <button fxFlex="30" mat-stroked-button style="color: white; border: white 2px solid; border-radius: 50px;">Войти-->
      <!--      </button>-->
    </div>
  </mat-toolbar>
    <span style="position: absolute; z-index: 5; margin: 45px 0 0 56%;">
      <img src="assets/img/Component42.png" alt="">
    </span>
    <span style="position: absolute; z-index: 0; right: 0;">
      <img src="./assets/img/Vector91.png" alt="">
    </span>
  </span>
</div>

<div *ngIf="isMobile" fxLayout="row" style="position: relative; height: 60%">
  <img src="./assets/img/vfefvgrb2.png" style="position: absolute; z-index: -5; width: 100%;" alt="">
  <img src="./assets/img/Vector119.png" style="position: absolute; z-index: -4; width: 100%;" alt="">
  <div fxFlex="5"></div>
  <div fxFlex="90" style="padding: 5% 0; position: relative">
    <div fxLayout="row" fxLayoutAlign="center start">
      <div fxFlex="50" fxLayout="row" fxLayoutGap="20%">
        <img src="./assets/img/logo.png" alt="">
        <img src="./assets/img/Component50.png" alt="">
      </div>
      <p fxFlex="50" fxLayoutAlign="end center" class="lightNav" style="color: white; margin: 0;">+7(707) 326 48 18</p>
    </div>
    <img src="assets/img/Component%2051.png" style="position: absolute; z-index: -3; top: 50vh; left: 0" alt="">
  </div>
  <div fxFlex="5"></div>
  <img src="assets/img/Vector1192.png" style="position: absolute; z-index: -4; right: 0" alt="">
</div>

<div *ngIf="isTablet">
  <img src="./assets/img/background.png" style="position: absolute; width: 100%; z-index: -5" alt="">
  <img src="./assets/img/Vector89.png" style="position: absolute; width: 100%;  z-index: -5" alt="">
  <span fxLayout="row">
    <mat-toolbar fxLayout="row" fxLayoutAlign="space-between center"
                 style="z-index: 50; padding: 45px; background: rgba(0,0,0,0)">
    <div fxFlex="40" fxLayout="row" fxLayoutAlign="space-between center">
      <img src="./assets/img/logo.png" alt="">
      <div fxFlex="80" fxLayout="row" fxLayoutAlign="space-around center">
        <a href="#home" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
           class="lightNav">Главная</a>
        <a href="#courses" routerLinkActive="active" class="lightNav">Курсы</a>
        <a href="#video" routerLinkActive="active" class="lightNav">Акции</a>
        <a href="#contacts" routerLinkActive="active" class="lightNav">Как связаться?</a>
      </div>
    </div>
      <p fxFlex="15" class="lightNav" style="color: white; margin: 0;">+7(707) 326 48 18</p>
      <!--      <button fxFlex="30" mat-stroked-button style="color: white; border: white 2px solid; border-radius: 50px;">Войти-->
      <!--      </button>-->
  </mat-toolbar>
    <span style="position: absolute; z-index: 5; margin: 45px 0 0 52%;">
      <img src="assets/img/Component42.png" alt="">
    </span>
    <span style="position: absolute; z-index: 0; right: 0;">
      <img src="./assets/img/Vector91.png" alt="">
    </span>
  </span>
</div>
