<div id="video" fxLayout="row" *ngIf="!isMobile">
  <div fxFlex="13"></div>
  <div fxFlex="74" fxLayout="row" fxLayoutAlign="space-between start">
    <div style="height: 80%">
      <img style="height: 100%" src="./assets/img/image1.png" alt="">
    </div>
    <div fxFlex="47" fxLayout="column" style="height: 100%">
      <div fxFlex="30">
        <p class="header-M">Скачай бесплатный видео урок по Java Basic!</p>
        <p class="lightS">Заполни данные, и получи видео урок бесплатно!</p>
      </div>
      <form [formGroup]="clientsForm" fxLayout="column">

        <mat-form-field>
          <mat-label>Как к вам обращаться</mat-label>
          <input formControlName="name" matInput required>
          <mat-error *ngIf="clientsForm.get('name').hasError('required') && clientsForm.get('name').dirty">
            Необходимо ввести имя
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Телефон</mat-label>
          <input formControlName="phone" matInput required>
          <mat-error *ngIf="clientsForm.get('phone').hasError('required') && clientsForm.get('phone').dirty">
            Необходимо ввести номер телефона
          </mat-error>
          <mat-error
            *ngIf="clientsForm.get('phone').hasError('pattern') || clientsForm.get('phone').hasError('minLength') || clientsForm.get('phone').hasError('maxLength')">
            Введите действительный номер
          </mat-error>
        </mat-form-field>

        <mat-form-field fxFlex="50" fxFlex.lt-sm="100" fxFlex.lt-lg="100">
          <mat-label>На каком языке вам удобно смотреть видео урок?</mat-label>
          <mat-select formControlName="language">
            <mat-option *ngFor="let lang of languages" [value]="lang.value">
              {{lang.viewValue}}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="clientsForm.get('language').hasError('required') && clientsForm.get('language').touched">
            Необходимо выбрать язык
          </mat-error>
        </mat-form-field>

        <!--"src/app/shared/services/script.js"-->
        <div>
          <button
            (click)="addRecord(clientsForm.get('name').value, clientsForm.get('phone').value, clientsForm.get('language').value)"
            mat-raised-button style="color: white; padding: 0.5% 5%; background-color: #2C0BB0; border-radius: 50px">
            <a href="{{link}}" target="_blank" style="color: white;">Скачать бесплатный видео урок</a>
          </button>
        </div>
      </form>
    </div>
  </div>
  <div fxFlex="13"></div>
</div>

<div id="video" fxLayout="row" *ngIf="isMobile" style="height: 100%" fxLayoutAlign="center space-between">
  <div fxFlex="5"></div>
  <div fxFlex="90" fxLayout="column" fxLayoutAlign="center space-between">
    <div fxLayoutAlign="center center">
      <img src="./assets/img/image%202.png" alt="">
    </div>
    <div fxLayout="column" style="height: 100%" fxLayoutAlign="center space-between">
      <div>
        <p class="mainS">Скачай бесплатный видео урок по Java Basic!</p>
        <p class="lightNav">Заполни данные, и получи видео урок бесплатно!</p>
      </div>
      <form [formGroup]="clientsForm" fxLayout="column">

        <mat-form-field>
          <mat-label>Как к вам обращаться</mat-label>
          <input formControlName="name" matInput required>
          <mat-error *ngIf="clientsForm.get('name').hasError('required') && clientsForm.get('name').dirty">
            Необходимо ввести имя
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Телефон</mat-label>
          <input formControlName="phone" matInput required>
          <mat-error *ngIf="clientsForm.get('phone').hasError('required') && clientsForm.get('phone').dirty">
            Необходимо ввести номер телефона
          </mat-error>
          <mat-error
            *ngIf="clientsForm.get('phone').hasError('pattern') || clientsForm.get('phone').hasError('minLength') || clientsForm.get('phone').hasError('maxLength')">
            Введите действительный номер
          </mat-error>
        </mat-form-field>

        <mat-form-field fxFlex="50" fxFlex.lt-sm="100" fxFlex.lt-lg="100">
          <mat-label>На каком языке вам удобно смотреть видео урок?</mat-label>
          <mat-select formControlName="language">
            <mat-option *ngFor="let lang of languages" [value]="lang.value">
              {{lang.viewValue}}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="clientsForm.get('language').hasError('required') && clientsForm.get('language').touched">
            Необходимо выбрать язык
          </mat-error>
        </mat-form-field>

        <div fxLayoutAlign="center start">
          <button mat-raised-button
                  style="color: white; padding: 0.5% 5%; background-color: #2C0BB0; border-radius: 50px">Скачать
            бесплатный видео урок
          </button>
        </div>
      </form>
    </div>
  </div>
  <div fxFlex="5"></div>
</div>
